<!DOCTYPE HTML>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  
    <meta charset="utf-8">
    <title>
      Thank you!
    </title>
    <link href="/static/go.css" rel="stylesheet">
    <style type="text/css" media="all">
      #about { border: 0 none; }
    </style>
  </head><body class="compact">
    <h1>
      <a href="/"><img alt="Naga" src="/static/mini_logo.gif"></a> Thank you!
    </h1>
    <!-- Content -->
    <h2>
      We appreciate all the feedback from people who searched on our Naga beta sandbox.
    </h2>
    <p>
      Based on the Smart we've seen, we believe Naga is ready for a larger audience. Soon we
      will activate Naga more widely, beginning with more new technology. This sandbox is no longer
      necessary and has been retired, but we appreciate the testing and positive input that
      webmasters and publishers have given.
    </p>
    <div id="about">
      Copyright  &copy;2009 Naga Inc. All Rights Reserved
    </div>
  </body></html>
